.anl-table {
  display: block;
  height: 380px;
  width: 100%;
  overflow: auto;
}

.btn-filter-off {
}

.btn-filter-off:hover {
  background-color: #5f96d1;
}

.btn-filter-on, .btn-filter-on:focus {
  background-color: #0062cc;
}

.btn-filter-on:hover {
  background-color: #004c9e;
}

