.anl-table {
  display: block;
  height: 368px;
  overflow: auto;
}

.anl-ontology-table {
  display: block;
  height: 340px;
  overflow: auto;
}

.anl-ontology-paginator {
  display: block;
  height: 70px;
  overflow: auto;
}
.anl-action-button {
  border: none;
  margin: 0;
}
