.anl-table {
  display: block;
  height: 330px;
  overflow: auto;
}

.anl-ontology-pane {
  display: block;
  height: 435px;
  overflow: auto;
}

.btn-filter-off {
}

.btn-filter-off:hover {
}

.btn-filter-on, .btn-filter-on:focus {
  /*background-color: #ddd;*/
  /*color: #6c757d;*/
}

.btn-filter-on:hover {
  /*background-color: #6c757d;*/
  /*color: #ffffff;*/
}

