@import "definitions";
@import "autocomplete/style";
@import "widget/style";
@import "pages/annotate/style";
@import "pages/annotations/style";

nav {
  background-color: rgb(28, 65, 143);
}

.icon {
  height: 16px;
  width: 16px;
}

