@import "definitions";
@import "components/autocomplete/style";
@import "widget/style";
@import "pages/style";
@import "pages/annotations/style";
@import "pages/search/style";

nav {
  background-color: rgb(28, 65, 143);
}

h2 {
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.icon {
  height: 16px;
  width: 16px;
}

