#b2note-widget {
  // border: 1px solid gray;
  height: 564px;
  width: 350px;
}

#widget-version {
  position: absolute;
  top: 28px;
  left: 285px;
  font-size: 11px;
}

#widget-version a {
  color: white;
}